<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="cylinder_small_workpiece">
  <xacro:property name="cyl_radius" value="0.150"/>
  <xacro:property name="cyl_height" value="0.250"/>

  <link name="child_link">
    <visual>
      <geometry>
        <cylinder radius="${cyl_radius}" length="${cyl_height}"/>
      </geometry>
      <material name="steel">
        <color rgba="0.7 0.7 0.75 1.0"/>
      </material>
    </visual>

    <collision>
      <geometry>
        <cylinder radius="${cyl_radius}" length="${cyl_height}"/>
      </geometry>
    </collision>

    <inertial>
      <mass value="9.0"/>
      <inertia ixx="0.09750" ixy="0.0" ixz="0.0"
               iyy="0.09750" iyz="0.0"
               izz="0.10125"/>
    </inertial>
  </link>

</robot>
